@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap");

html,
body,
#root,
.app,
.content {
  height: 100%;
  width: 100%;
  font-family: "Source Sans Pro", sans-serif;
  background: rgb(238, 242, 246);
}

.app {
  display: flex;
  position: relative;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #e0e0e0;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.css-sox5kk-MuiBackdrop-root {
  background-color: rgba(0, 0, 0, 0.233) !important;
}
.category-button {
  color: #1d1d1d !important;
  font-weight: 600 !important;
}

.category-button.active {
  border: 3px solid #2196f3 !important;
  color: #2196f3 !important;
  border-radius: 10px !important;
  background: #7bebff3d !important;
}
