@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap');

html,
body,
#root,
.app,
.content {
  height: 100%;
  width: 100%;
  font-family: 'Source Sans Pro', sans-serif;
  background: rgb(238, 242, 246);
}

.app {
  display: flex;
  position: relative;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  margin: 20px;
}

::-webkit-scrollbar-thumb {
  background: rgb(0, 153, 255);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(2, 111, 184);
}

.css-sox5kk-MuiBackdrop-root {
  background-color: rgba(0, 0, 0, 0.233) !important;
}
.category-button {
  color: #1d1d1d !important;
  font-weight: 600 !important;
}

.category-button.active {
  border: 3px solid #2196f3 !important;
  color: #2196f3 !important;
  border-radius: 10px !important;
  background: #7bebff3d !important;
}

.MuiAutocomplete-popper div {
  background-color: #f1f1f1; /* Replace with your desired background color */
  padding: 3px;
}

/* // ==============================|| SWEET ALERT CUSTOM ||============================== // */

.my-swal-container {
  z-index: 1600 !important; /* Adjust the z-index value as needed */
  backdrop-filter: blur(2px) !important; /* Adjust the blur value as needed */
  background-color: rgb(14 14 14 / 61%) !important;
}

.my-swal-popup {
  padding: 1rem;
}

.swal2-title {
  line-height: 1.2;
}

.swal2-styled.swal2-confirm {
  background-color: #2196f3;
}
